<h1>Create your tamagotchi!</h1>

<form action="/tamagotchi" method="post">
  <label for="petName">Name your tamagotchi!</label>
  <input id="petName" name="petName" type="text">

  <button type="submit" class="btn btn-danger">Play!</button>
</form>
